body {
  font-family: roboto;
  text-align: center;
  width: 100%;
}

.row {
  margin: auto;
  padding: 3% 0%;
}
#card2,
#card1 {
  margin: 0 auto;
  border: 0;
  width: 373.299px;
}
#cardhead1,
#cardhead2 {
  font-weight: bold;
  color: black;
}
#imgdiv1,
#imgdiv2 {
  width: 100%;
  border-start-start-radius: 0;
  border-start-end-radius: 0;
}
img {
  height: 230px;
  margin: 0;
}
h6{
    font-weight: bold;
}
h1,
h6{
    text-align: center;
}
