/* body{
    font-family: roboto;
}
.row{
     display: grid;
    grid-template-columns: 50px 50px 50px;
    gap: 20px;
}
.card{
    width: 100px;
    height: 400px;
}
.card-header,
.head{
    color: white;
    background-color: rgb(26, 26, 31);
    box-shadow: inset 0 0 10 black;
}
.card-title{
    color: white;
    background-color: rgb(26, 26, 31);
} */
    .img,
    .img2{
        width: 100%;
        height: 200px;  
    }
.card{
    margin: 0 auto;
}